.founder-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.founder-content {
    margin-top: -60px;
    background: linear-gradient(180deg, rgb(109, 109, 126) 0%, rgb(48, 48, 58) 70%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 20px 32px;
}

.founder-content p {
    color: var(--dark);
    text-align: center;
}

.founder-foto {
    width: 135px;
    height: 135px;
    background-image: url('/images/zehnery.png');
    background-size: cover;
    border-radius: 48px;
}

.founder-text {
  color: var(--white) !important;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0px;
  line-height: 1.2rem;
  margin-top: 20px;
}


@media (min-width: 992px) {

.founder-content {
    justify-content: center;
}

.founder-content {
    flex-direction: row;
    gap: 2rem;
    width: 60%;
}

.founder-content p {
    text-align: left;
    width: 70%;
}

.founder-text {
  margin-top: 0;
  font-size: 1rem;
}

}