.founder-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.founder-content {
    margin-top: -60px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(173, 173, 173, 0.8) 70%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 20px 32px;
}

.founder-content p {
    color: var(--dark);
    text-align: center;
}

.founder-foto {
    width: 135px;
    height: 135px;
    background-image: url('/images/zehnery.png');
    background-size: cover;
    border-radius: 48px;
}




@media (min-width: 992px) {

.founder-content {
    justify-content: center;
}

.founder-content {
    flex-direction: row;
    gap: 2rem;
}

.founder-content p {
    text-align: left;
    width: 70%;
}

}