.about-container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 3rem auto;
  }

  .video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }

  .video iframe {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    border: none;
  }

  .about-image {
    margin-top: 20px;
    width: 100%;
    height: auto;
    max-width: 400px;
    filter: opacity(.6) sepia(.4);
  }

  @media (min-width: 992px) {

    .about-container {
    display: flex;
    flex-direction: column;
    margin: 3rem auto 4rem auto;
  }

    .about-content-container {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      width: 100%;
      align-items: flex-start;
    }

    .video {
      width: 45%;
    }

    .about-text {
      width: 55%;
    }
  }