.header-mobile {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.menu-button {
    width: 40px;
    height: 40px;
    margin-top: 12px;
    cursor: pointer;
}

.logo {
    width: auto;
    height: 70px;
    padding-top: 1rem;
}

.shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
}

.menu-mobile {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100vw;
  z-index: 10;
}


.menu-mobile-container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: -20px;
  z-index: 100;
}

.menu-mobile-container.active {
  opacity: 1;
  visibility: visible;
}


.menu-mobile-container.active {
    display: flex;
}

.menu-mobile-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    transform: rotate(45deg);
    top: 6px;
    right: 33px;
}

.menu-mobile-list {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    text-align: center;
    width: 100%;
    border-radius: 12px;
}

.menu-mobile-list a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.menu-mobile-list ul {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-desktop {
    display: none;

}

.header-social-icon {
  color: white; /* cor padrão */
  display: inline-flex;
  transition: color 0.1s ease;
}

.header-social-icon:hover {
  color: var(--light-blue); /* ou qualquer cor que quiser ao passar o mouse */
}

.social-media-icons-mobile {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: -10px 0 28px 0
}


@media (min-width: 992px) {
  .header-desktop {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 1rem;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
  }

  .header-desktop-content {
    width: 100vw;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-mobile {
    display: none;
  }

  .menu-desktop {

  }

  .menu-desktop ul {
    display: flex;
    gap: 2rem;
  }

  .menu-desktop a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    text-transform: uppercase;
  }

  .menu-desktop a:hover {
    color: var(--light-blue);
  }

  .social-media {
    display: flex;
  }

  .logo {
    padding: 0;
  }
}