
body {
  background: var(--dark);
  font-family: 'Inter', sans-serif;
}





@media screen and (min-width: 768px) {
  .plano1, .plano2 {
      flex-direction: column;
      gap: 20px;
  }
  .plano-container {
      flex-direction: column;
      width: 100%;
      height: 100%;
  }
  .plano-de-acao {
      height: auto;
  }
  
}